.img1 {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 25px;
  cursor: pointer;
}

.img1:hover {
  transform: scale(95%);
  transition: all .3s ease;

}

.box {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}